<form #form="ngForm" (ngSubmit)="form.form.valid && addNewPerson()">
	<div class="row">
		<div class="col-3">
			<label for="name">Nombre</label>
			<input
				type="text"
				name="name"
				id="name"
				placeholder="Nombre"
				class="form-control"
				[(ngModel)]="nameInput"
				required
			/>
		</div>
		<div class="col-3">
			<label for="lastName">Apellido</label>
			<input
				type="text"
				name="lastName"
				id="lastName"
				placeholder="Apellido"
				class="form-control"
				[(ngModel)]="lastNameInput"
				required
			/>
		</div>
		<div class="col">
			<button class="btn btn-primary" type="submit">+</button>
		</div>
	</div>
</form>
