<h1>Formulario Persona</h1>
<form #form="ngForm" (ngSubmit)="form.form.valid && addNewPerson()">
	<div class="row">
		<div class="col">
			<label for="name">Nombre</label>
			<input
				type="text"
				name="name"
				id="name"
				placeholder="Nombre"
				class="form-control"
				[(ngModel)]="nameInput"
				required
			/>
		</div>
		<div class="col">
			<label for="lastName">Apellido</label>
			<input
				type="text"
				name="lastName"
				id="lastName"
				placeholder="Apellido"
				class="form-control"
				[(ngModel)]="lastNameInput"
				required
			/>
		</div>
		<div class="col-2 text-center align-self-center">
			<button class="btn btn-primary mx-1" type="submit">+</button>
			<button
				*ngIf="index != null"
				type="button"
				class="btn btn-danger"
				(click)="deletePerson()"
			>
				-
			</button>
		</div>
	</div>
</form>
