<form>
	<div class="row">
		<div class="col-3">
			<label for="name">Nombre</label>
			<input
				type="text"
				name="name"
				id="name"
				placeholder="Nombre"
				class="form-control"
				#nameInputRef
			/>
		</div>
		<div class="col-3">
			<label for="lastName">Apellido</label>
			<input
				type="text"
				name="lastName"
				id="lastName"
				placeholder="Apellido"
				class="form-control"
				[(ngModel)]="lastNameInput"
			/>
		</div>
		<div class="col-3">
			<label for="example">Ejemplo</label>
			<input
				type="text"
				name="example"
				id="example"
				placeholder="Nombre"
				class="form-control"
				#exampleInputRef
			/>
		</div>
		<div class="col">
			<button
				class="btn btn-primary"
				(click)="addNewPerson(nameInputRef)"
			>
				Agregar Persona
			</button>
		</div>
	</div>
</form>
